In [12]:
def pattern1(n):
    for i in range(n):
        for j in range(n):
            print("*",end= "")
        print()

In [13]:
pattern1(5)

*****
*****
*****
*****
*****

In [14]:
def pattern2(n):
    for i in range(n):
        for j in range(i+1):
            print("*",end= "")
        print()

In [15]:
pattern2(4)

*
**
***
****

In [16]:
def pattern3(n):
    for i in range(n):
        for j in range(i+1):
            print(j+1,end= "")
        print()

In [17]:
pattern3(5)

1
12
123
1234
12345

In [18]:
def pattern4(n):
    for i in range(n):
        for j in range(i+1):
            print(i+1,end= "")
        print()

In [19]:
pattern4(5)

1
22
333
4444
55555

In [20]:
def pattern5(n):
    for i in range(n):
        for j in range(n-i):
            print("*",end= "")
        print()

In [21]:
pattern5(5)

*****
****
***
**
*

In [ ]:
2n+1
2n+1 - (2i+1) = 2(n-i) = n-i
2n+1 - (n-i) = n+i+1

n+i+1 + n -i = 2n+1

In [ ]:
n-i,2i + 1, n-i

In [ ]:
4 1 4
3 3 3
2 5 2
1 7 1
0 9 0

In [85]:
def pattern6(n):
    for i in range(n):
        for j in range(n-i-1):
            print(" ",end="")
        for j in range(2*i+1):
            print("*", end = "")
        for j in range(n-i-1):
            print(" ",end="")    
        print()

In [86]:
pattern6(4)

   *
  ***
 *****
*******

In [ ]:
0,9,0
1,7,1
2,5,2
3 3 3
4 1 4

In [87]:
def pattern7(n):
    for i in range(n):
        for j in range(i):
            print(" ",end="")
        for j in range(2*(n-i-1)+1):
            print("*", end = "")
        for j in range(i):
            print(" ",end="")    
        print()

In [88]:
pattern7(4)

*******
 *****
  ***
   *

In [93]:
def pattern8(n):
    for i in range(n):
        for j in range(n-i-1):
            print(" ",end="")
        for j in range(2*i+1):
            print("*", end = "")
        for j in range(n-i-1):
            print(" ",end="")    
        print() 
    pattern7(n)

In [94]:
pattern8(5)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
*
**
***
****
*****
****
***
**
*

In [ ]:

2n-1
2n-i-1

In [97]:
def pattern9(n):
    for i in range(2*n-1):
        if i <n:
            for j in range(i+1):
                print("*",end ="")
        else:
            for j in range(2*n-1-i):
                print("*",end ="")   
        print()

pattern9(5)

*
**
***
****
*****
****
***
**
*

In [ ]:
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [ ]:
1 + 2+ 3+ 4+5 n(n+1)/2

In [100]:
def pattern10(n):
    for i in range(n):
        num = (i)*(i+1)/2
        if num % 2 == 0:
            start = 1
            e = 0
        else:
            start = 0
            e = 1
        for j in range(i+1):
            if j%2 == 0:
                print(start,end = "")
            else:
                print(e,end = "")
        print()
pattern10(6)

1
01
010
1010
10101
010101

In [104]:
def pattern12(n):
    for i in range(n):
        for j in range(i+1):
            print(j+1,end = "")
        for j in range(2*n-2*(i+1)):
            print(" ", end = "")
        for j in range(i+1):
            print(i + 1 -j, end  = "")
        print()

pattern12(4)

1      1
12    21
123  321
12344321

In [ ]:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [116]:
def pattern13(n):
    s = 0
    for i in range(n):
        for j in range(i+1):
            s = s + 1
            print(s, end ="")
        print()
pattern13(5)

1
23
456
78910
1112131415

In [ ]:
A
A B
A B C
A B C D

In [120]:
chr(65)

'A'

In [124]:
def pattern14(n):
    for i in range(n):
        for j in range(i+1):
            print(chr(64+j+1), end ="")
        print()
pattern14(5)

A
AB
ABC
ABCD
ABCDE

In [ ]:
    A
  A B A
A B C B A

In [ ]:
2n -1
2i+1
2 1 2
1 3 1
0 5 0

In [136]:
def pattern12(n):
    for i in range(n):
        for j in range(n-i):
            print(" ",end = "")
        # for j in range(2*i+1):
        #     print("*", end = "")
        for j in range(i):
            print(chr(65+i-j),end = "")
        print("A",end ="")
        for j in range(i):
            print(chr(65+j+1),end = "")
        for j in range(n-i):
            print(" ",end = "")
        print()
pattern12(4)

    A
   BAB
  CBABC
 DCBABCD

In [ ]:
E
D E
C D E
B C D E
A B C D E

In [139]:
def pattern15(n):
    for i in range(n):
        for j in range(i+1):
            print(chr(69 - i + j),end =" ")
        print()

pattern15(5)

E
D E
C D E
B C D E
A B C D E

In [ ]:
Symmetry around 5:

5  0  5
4  2  4
3  4  3
2  6  2
1  8  1

In [ ]:
2n - n-1

In [153]:
def pattern16(n):
    for i in range(2*n):
        if i <n:
            for j in range(n-i):
                print("*", end = "")
            for j in range(2*i):
                print(" ",end = "")
            for j in range(n-i):
                print("*", end = "")
        else:
          for j in range(i + 1- n):
            print("*", end = "")
          for j in range(2*(2*n -i-1)):
            print(" ",end = "")
          for j in range(i+ 1 -n):
            print("*", end = "")
        print()
pattern16(5)

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [ ]:
1  8  1
2  6  2
3  4  3
4  2  4
5  0  5

In [163]:
for i in range(9):
    if i <5:
        for j in range(i+1):
            print("*", end = "")
        for j in range(2*(5-i-1)):
            print(" ",end = "")
        for j in range(i+1):
            print("*", end = "")
    if i >=5:
        for j in range(9 - i):
            print("*",end = "")
        for j in range(2*(i-4)):
            print(" ",end = "")
        for j in range(9 - i):
            print("*",end = "")
    print()

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
2 0 2
1 2 1
1 2 1
2 0 2

In [167]:
n =4
for i in range(n):
    if ((i == 0) | (i == n-1)):
        for j in range(n):
            print("*", end = "")
    else:
        print("*", end  = "")
        for j in range(n-2):
            print(" ", end  = "")
        print("*", end = "")
    print()

****
*  *
*  *
****

In [174]:
def pattern20(n):
    for i in range(2*n-1):
        for j in range(2*n-1):
            r = j
            l = 2*n-2-j
            u = i
            w = 2*n -2 -i
            sd  = min(r,l,u,w)
            print(n -sd,end = "")
        print()
pattern20(4)

4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [175]:
import numpy as np

In [179]:
from collections import deque

ar = deque([2,5,7])
ar.popleft()

2